<header>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 mb-3 header_body">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        
            <!-- TITLE N HAMBU -->
            <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
                <a class="text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-neutral-50" 
                routerLink="/">
                    Recipe Book
                </a>

                <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" 
                type="button" 
                (click)="toggleNavbar()"
                >
                    <mat-icon class="">menu</mat-icon>
                </button>
            </div>
            <!-- ROUTES -->
            <div class="lg:flex lg:flex-grow items-center" 
            [ngClass]="{'hidden': !showMenu, 'flex': showMenu}">
                <ul class="flex flex-col lg:flex-row list-none ml-auto">
                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="#">
                            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Recipes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="#">
                            <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Shopping List</span>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li (click)="toggleDropDown()">
                        <a routerLink="#" role="button">Manage <mat-icon></mat-icon></a>
                        <ul [ngClass]="{'hidden': !showDropDown, 'flex': showDropDown}">
                            <li><a routerLink="">Save Data</a></li>
                            <li><a routerLink="">Fetch Data</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>