<header>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 mb-3 header_body">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        
            <!-- TITLE N HAMBU -->
            <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
                <a class="text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-neutral-50" 
                routerLink="/">
                    Recipe Book
                </a>

                <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent 
                rounded bg-transparent block lg:hidden outline-none focus:outline-none" 
                type="button" 
                (click)="toggleNavbar()">
                    <mat-icon [@iconTransition]="showMenu ? 'close' : 'menu'">
                        {{ showMenu ? 'close' : 'menu' }}
                    </mat-icon>
                </button>
            </div>
            <!-- ROUTES, DROPDOWN -->
            <div class="lg:flex lg:flex-grow items-center px-4" 
            [ngClass]="{'hidden': !showMenu, 'flex': showMenu}">
                <ul class="flex list-none ml-auto"
                [ngClass]="{'opacity-30': showDropDown, 'opacity-100': !showDropDown}">
                    <li class="nav-item">
                        <a class="nav_link" 
                        [ngClass]="{'pointer-events-none': showDropDown}"
                        routerLink="#">
                            Recipes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_link" 
                        [ngClass]="{'pointer-events-none': showDropDown}"
                        routerLink="#">
                            Shopping List
                        </a>
                    </li>
                </ul>
                <ul class="lg:ml-4 relative list-none self-start">
                    <li (click)="toggleDropDown()" class="flex">
                        <a routerLink="#" role="button" class="nav_link">
                            Manage &nbsp;
                            <mat-icon [@dropDownTransition]="showDropDown ? 'down' : 'up'">arrow_downward</mat-icon>
                        </a>
                        <ul [@manageTransition]="showDropDown ? 'down' : 'up'"
                        [ngClass]="{'hidden': !showDropDown, 'flex': showDropDown}" 
                        class="lg:flex-col gap-2 lg-gap-0 items-center lg:items-start justify-center lg:absolute lg:left-0 lg:top-[70px] bg-gray-100/90 rounded-md py-1 lg:py-3 px-5">
                            <li ><a class="dd_link" routerLink="#">Save Data</a></li>
                            <span class="lg:hidden font-bold text-xs cursor-default">or</span>
                            <li><a class="dd_link" routerLink="#">Fetch Data</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>